@{
    ViewBag.Title = "Tracker";
}

    <h1>Dashboard</h1>


<div class="row">

    <div id="chartContainer"></div>


</div>

<div class="row">
    NEXT 5 GAMES
    <div id="teamsContainer"><img src="~/Content/loadgif.gif" /><br />Loading fixtures...</div>


</div>



<script>

    var attack;
    var midfield;
    var defence;
    var keeper;

    $.ajax({
        url: '@Url.Action("GetPlayersForScatterChart", "FPLAPI")/4',
        dataType: "json",
        type: "GET",
        contentType: 'application/json; charset=utf-8',
        async: false,
        processData: false,
        cache: false,
        delay: 15,
        success: function (d) {
            attack = d;
        },
        error: function (xhr) {
            alert('error');
        }
    });
    $.ajax({
        url: '@Url.Action("GetPlayersForScatterChart", "FPLAPI")/3',
        dataType: "json",
        type: "GET",
        contentType: 'application/json; charset=utf-8',
        async: false,
        processData: false,
        cache: false,
        delay: 15,
        success: function (d) {
            midfield = d;
        },
        error: function (xhr) {
            alert('error');
        }
    });
    $.ajax({
        url: '@Url.Action("GetPlayersForScatterChart", "FPLAPI")/2',
        dataType: "json",
        type: "GET",
        contentType: 'application/json; charset=utf-8',
        async: false,
        processData: false,
        cache: false,
        delay: 15,
        success: function (d) {
            defence = d;
        },
        error: function (xhr) {
            alert('error');
        }
    });
    $.ajax({
        url: '@Url.Action("GetPlayersForScatterChart", "FPLAPI")/1',
        dataType: "json",
        type: "GET",
        contentType: 'application/json; charset=utf-8',
        async: false,
        processData: false,
        cache: false,
        delay: 15,
        success: function (d) {
            keeper = d;
        },
        error: function (xhr) {
            alert('error');
        }
    });


    $(function () {
        var myChart = Highcharts.chart('chartContainer', {
            chart: {
                type: 'scatter'
            },
            title: {
                text: 'Players - Total Points vs Cost'
            },

            yAxis: {
                title: {
                    text: 'Total Points'
                }
            },
            xAxis: {
                title: {
                    text: 'Cost'
                }
            },
            series: [
                {
                name: 'Attack',
                tooltip: {
                    pointFormat: '{point.name} £{point.x}, {point.y}'
                },
                point: {
                    events: {
                        click: function () {
                            window.open('player/' +
                                this.options.key, '_blank');
                        }
                    }
                },
                marker: {lineColor: 'black', lineWidth: 1 },
                data: attack

                },
                                {
                name: 'Midfield',
                tooltip: {
                    pointFormat: '{point.name} £{point.x}, {point.y}'
                },
                point: {
                    events: {
                        click: function () {
                            window.open('player/' +
                                this.options.key, '_blank');
                        }
                    }
                },
                marker: { lineColor: 'black', lineWidth: 1 },
                data: midfield
                },
                                                {
                name: 'Defence',
                tooltip: {
                    pointFormat: '{point.name} £{point.x}, {point.y}'
                },
                point: {
                    events: {
                        click: function () {
                            window.open('player/' +
                                this.options.key, '_blank');
                        }
                    }
                },
                marker: { lineColor: 'black', lineWidth: 1 },
                data: defence
                                },
                                                 {
                name: 'Keeper',
                tooltip: {
                    pointFormat: '{point.name} £{point.x}, {point.y}'
                },
                point: {
                    events: {
                        click: function () {
                            window.open( 'player/' +
                                this.options.key, '_blank');
                        }
                    }
                },
                marker: { lineColor: 'black', lineWidth: 1 },
                data: keeper
                }
            ]

        });
    });
</script>


<script>
    $.ajax({
        url: '@Url.Action("GetTeamsWithFixtures", "FPLAPI")',
        dataType: "json",
        type: "GET",
        contentType: 'application/json; charset=utf-8',
        async: true,
        processData: false,
        cache: true,
        delay: 15,
        success: function (d) {
            console.log(d);
            $('#teamsContainer').html('');
            $.each(d, function (n, el) {
                
                $('#teamsContainer').append('<li  id="' + el.code + '"> <span class="fixtureLi">' + el.name.toUpperCase() + ': ' + el.Upcomingdifficulty + '</span> </li>')

                $.each(el.UpcomingFixtures, function (n2, el2) {
                    $('#' + el.code).append('<span class="diff_'+el2.difficulty+'"> ' + el2.opponent_short_name + ' </span>')
                })
            })

        },
        error: function (xhr) {
            alert('error');
        }
    });
</script>